
/* Toolbar custom theme */
polymer-ui-toolbar.launcher-theme {
    background-color: #333c4e;
    color: #8a98b0;
    font-size: 28px;
}

polymer-ui-toolbar polymer-ui-icon-button.launcher-theme:hover {
    background-color: #6794AC;
}
polymer-ui-toolbar polymer-ui-icon-button.launcher-theme:hover polymer-ui-icon {
    transition: -webkit-transform 0.33s;
    transition: transform 0.33s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Set custom theme icon */
polymer-ui-icon-button.launcher-theme polymer-ui-icon {
    background-position-x: -72px !important;
}

/* Set custom theme icon */
polymer-ui-field.launcher-theme polymer-ui-icon {
   background-position-x: -72px !important; /* This seems not to work properly in Firefox */
   
}

polymer-ui-field.launcher-theme input {
    color: white;
    background:#7B8AA6;
    padding: 4px;
    border:1px solid #3d4860;
    border-radius:4px;
}

/* Change plaveholder text color */
polymer-ui-field.launcher-theme input::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
polymer-ui-field.launcher-theme input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
polymer-ui-field.launcher-theme input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
polymer-ui-field.launcher-theme input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
