

.launcher-button {
	border:1px solid transparent;
	padding: 0px;

	margin:0px;
	width: 100%;
	height: 100%;

	background-color: #013859;
	color: #fff;
		
	font-family : inherit; 		
	font-size   : 100%;
	font-weight:bold;


/*justify-content:flex-end;*/
}

.launcher-button:hover {
	opacity: 0.9;
}

.launcher-button:active {
	opacity: 0.8;

}

.launcher-button:focus {
	border:1px solid black;
}