
/* Toolbar custom theme */
.launcher-toolbar {
    background-color: #333c4e;
    color: #8a98b0;
    font-size: 28px;
    padding: 10px;


    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -moz-flex !important;
    display: -webkit-flex !important;
    display: flex !important;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;


    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.launcher-toolbar core-icon{
   color: white;    
}
.launcher-toolbar core-icon-button {
   color: white;
   padding: 8px;
   margin: 0;
}

.launcher-toolbar core-icon-button.launcher-theme:hover {
    background-color: #6794AC;
}

.launcher-toolbar core-field{
    width:  100%;
}

.launcher-toolbar core-field:active{
    border-color:  rgb(0, 136, 204);
}
.launcher-toolbar core-field:focus,
.launcher-toolbar core-field:hover,
.launcher-toolbar core-field:has(:focus){
    background-color:  #fff;
}


.launcher-toolbar > core-icon-button:hover::shadow core-icon {
    color: white;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

core-field.launcher-theme input {
    color: white;
    background:#7B8AA6;
    padding: 4px;
    border:1px solid #3d4860;
    border-radius:4px;
}

/* Change plaveholder text color */
core-field.launcher-theme input::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
core-field.launcher-theme input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
core-field.launcher-theme input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
core-field.launcher-theme input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
