html,body{
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    height: 100%;
}

#launcher-menu {
    flex: 0 1 auto;
    color: #8a98b0;
}
#launcher-content {
    flex: 1;
}

juicy-tile-grid{
    /*flex: 1 1 auto;*/
    padding: 32px; /*this is the desired padding - labelled as WS on Jocke's screenshot. In future this margin will be created by the outermost gap*/
}