html,body{
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
}

#launcher-menu {
    flex: 0 1 auto;
    background-color: #333c4e;
    color: #8a98b0;
}

pj-dashboard {
    flex: 1 1 auto;
}

pj-sortable-tiles{
    flex: 1 1 auto;
    padding: 32px; /*this is the desired padding - labelled as WS on Jocke's screenshot. In future this margin will be created by the outermost gap*/
}