@font-face{font-family:Outline;src:url(/css/fonts/outline-icons-Regular.eot);src:url(/css/fonts/outline-icons-Regular.eot?#iefix) format('embedded-opentype'),url(/css/fonts/outline-icons-Regular.woff) format('woff'),url(/css/fonts/outline-icons-Regular.ttf) format('truetype'),url(/css/fonts/outline-icons-Regular.svg#Outline) format('svg');font-style:normal;font-weight:400}
body /deep/ .ts_icon:before{font-family:Outline;font-style:normal;font-weight:400;display:inline-block}
body /deep/ .ts_iconbody /deep/ .ts_icon_inherit:before,h1 .ts_icon:before,h2 .ts_icon:before,h3 .ts_icon:before{font-size:inherit}
body /deep/ .ts_icon_star_o:before{content:'\E001'}
body /deep/ .ts_icon_unstar_o:before{content:'\E002'}
body /deep/ .ts_icon_user:before{content:'\E003'}
body /deep/ .ts_icon_comment_alt:before{content:'\E004'}
body /deep/ .ts_icon_comment_o:before{content:'\E005'}
body /deep/ .ts_icon_home:before{content:'\E006'}
body /deep/ .ts_icon_info:before{content:'\E007'}
body /deep/ .ts_icon_channel_info:before, .ts_icon_info_circle:before{content:'\E008'}
body /deep/ .ts_icon_mentions:before{content:'\E009'}
body /deep/ .ts_icon_search:before{content:'\E010'}
body /deep/ .ts_icon_bolt:before{content:'\E011'}
body /deep/ .ts_icon_mobile:before{content:'\E012'}
body /deep/ .ts_icon_tablet:before{content:'\E013'}
body /deep/ .ts_icon_laptop:before{content:'\E014'}
body /deep/ .ts_icon_bell_o:before{content:'\E015'}
body /deep/ .ts_icon_bell_slash:before{content:'\E016'}
body /deep/ .ts_icon_team_directory:before, .ts_icon_briefcase:before{content:'\E017'}
body /deep/ .ts_icon_cloud_upload:before{content:'\E018'}
body /deep/ .ts_icon_cloud_download:before{content:'\E019'}
body /deep/ .ts_icon_cog_o:before{content:'\E020'}
body /deep/ .ts_icon_cogs:before, .ts_icon_gears:before{content:'\E021'}
body /deep/ .ts_icon_key:before{content:'\E022'}
body /deep/ .ts_icon_calendar:before{content:'\E023'}
body /deep/ .ts_icon_pencil:before{content:'\E024'}
body /deep/ .ts_icon_lightbulb_o:before{content:'\E025'}
body /deep/ .ts_icon_magic:before{content:'\E026'}
body /deep/ .ts_icon_external_link:before{content:'\E027'}
body /deep/ .ts_icon_external_link_square:before{content:'\E028'}
body /deep/ .ts_icon_lock_o:before{content:'\E029'}
body /deep/ .ts_icon_unlock:before{content:'\E030'}
body /deep/ .ts_icon_folder:before{content:'\E031'}
body /deep/ .ts_icon_folder_open:before{content:'\E032'}
body /deep/ .ts_icon_archive:before{content:'\E033'}
body /deep/ .ts_icon_inbox:before{content:'\E034'}
body /deep/ .ts_icon_sitemap:before{content:'\E035'}
body /deep/ .ts_icon_book:before{content:'\E036'}
body /deep/ .ts_icon_envelope_o:before{content:'\E037'}
body /deep/ .ts_icon_image:before{content:'\E038'}
body /deep/ .ts_icon_building:before{content:'\E039'}
body /deep/ .ts_icon_plug:before{content:'\E040'}
body /deep/ .ts_icon_paper_plane:before{content:'\E041'}
body /deep/ .ts_icon_credit_card:before{content:'\E042'}
body /deep/ .ts_icon_life_ring:before{content:'\E043'}
body /deep/ .ts_icon_thumb_tack:before{content:'\E044'}
body /deep/ .ts_icon_trash:before{content:'\E045'}
body /deep/ .ts_icon_print:before{content:'\E046'}
body /deep/ .ts_icon_quote_o:before{content:'\E047'}
body /deep/ .ts_icon_th_large:before{content:'\E048'}
body /deep/ .ts_icon_eye:before{content:'\E049'}
body /deep/ .ts_icon_eye_closed:before{content:'\E050'}
body /deep/ .ts_icon_volume_off:before{content:'\E051'}
body /deep/ .ts_icon_volume_down:before{content:'\E052'}
body /deep/ .ts_icon_volume_medium:before{content:'\E053'}
body /deep/ .ts_icon_volume_up:before{content:'\E054'}
body /deep/ .ts_icon_volume_off_alt:before{content:'\E055'}
body /deep/ .ts_icon_heart_o:before{content:'\E056'}
body /deep/ .ts_icon_wrench:before{content:'\E057'}
body /deep/ .ts_icon_file:before{content:'\E058'}
body /deep/ .ts_icon_all_files:before{content:'\E059'}
body /deep/ .ts_icon_your_files:before{content:'\E060'}
body /deep/ .ts_icon_align_left:before{content:'\E061'}
body /deep/ .ts_icon_align_center:before{content:'\E062'}
body /deep/ .ts_icon_align_right:before, .ts_icon_align-right:before{content:'\E063'}
body /deep/ .ts_icon_align_justify:before{content:'\E064'}
body /deep/ .ts_icon_paragraph:before{content:'\E065'}
body /deep/ .ts_icon_code:before{content:'\E066'}
body /deep/ .ts_icon_ellipsis:before{content:'\E067'}
body /deep/ .ts_icon_ellipsis_baseline:before{content:'\E068'}
body /deep/ .ts_icon_spinner:before{content:'\E069'}
body /deep/ .ts_icon_spiral:before{content:'\E070'}
body /deep/ .ts_icon_random:before{content:'\E071'}
body /deep/ .ts_icon_repeat:before{content:'\E072'}
body /deep/ .ts_icon_share_square_o:before{content:'\E073'}
body /deep/ .ts_icon_link:before{content:'\E074'}
body /deep/ .ts_icon_undo:before{content:'\E075'}
body /deep/ .ts_icon_history:before{content:'\E076'}
body /deep/ .ts_icon_hourglass_empty:before{content:'\E077'}
body /deep/ .ts_icon_hourglass:before{content:'\E078'}
body /deep/ .ts_icon_clock_o:before{content:'\E079'}
body /deep/ .ts_icon_dashboard:before, .ts_icon_tachometer:before{content:'\E080'}
body /deep/ .ts_icon_power_off:before{content:'\E081'}
body /deep/ .ts_icon_sign_in:before{content:'\E082'}
body /deep/ .ts_icon_sign_out:before{content:'\E083'}
body /deep/ .ts_icon_undo_alt:before{content:'\E084'}
body /deep/ .ts_icon_globe:before{content:'\E085'}
body /deep/ .ts_icon_filter:before{content:'\E086'}
body /deep/ .ts_icon_microphone:before{content:'\E087'}
body /deep/ .ts_icon_microphone_slash:before{content:'\E088'}
body /deep/ .ts_icon_paperclip:before{content:'\E089'}
body /deep/ .ts_icon_video_camera:before{content:'\E090'}
body /deep/ .ts_icon_stop_video:before{content:'\E091'}
body /deep/ .ts_icon_phone:before{content:'\E092'}
body /deep/ .ts_icon_end_call:before{content:'\E093'}
body /deep/ .ts_icon_smile_o:before{content:'\E094'}
body /deep/ .ts_icon_share_screen:before{content:'\E095'}
body /deep/ .ts_icon_stop_screen_sharing:before{content:'\E096'}
body /deep/ .ts_icon_stop_screen_sharing_alt:before{content:'\E097'}
body /deep/ .ts_icon_feedback:before{content:'\E098'}
body /deep/ .ts_icon_paper_plane_alt:before{content:'\E099'}
body /deep/ .ts_icon_share:before{content:'\E100'}
body /deep/ .ts_icon_save:before{content:'\E101'}
body /deep/ .ts_icon_message_notification:before{content:'\E102'}
body /deep/ .ts_icon_share_other:before{content:'\E103'}
body /deep/ .ts_icon_channel:before{content:'\E104'}
body /deep/ .ts_icon_share_other_alt:before{content:'\E105'}
body /deep/ .ts_icon_mobile_home_channel:before{content:'\E106'}
body /deep/ .ts_icon_all_files_alt:before, .ts_icon_trello:before{content:'\E107'}
body /deep/ .ts_icon_search_files:before{content:'\E108'}
body /deep/ .ts_icon_add_user:before{content:'\E109'}
body /deep/ .ts_icon_create_space:before{content:'\E110'}
body /deep/ .ts_icon_create_snippet:before{content:'\E111'}
body /deep/ .ts_icon_create_post:before{content:'\E112'}
body /deep/ .ts_icon_upload:before{content:'\E113'}
body /deep/ .ts_icon_download:before{content:'\E114'}
body /deep/ .ts_icon_share_email:before{content:'\E115'}
body /deep/ .ts_icon_import_email:before{content:'\E116'}
body /deep/ .ts_icon_ellipsis_o:before{content:'\E117'}
body /deep/ .ts_icon_add_reaction:before{content:'\E118'}
body /deep/ .ts_icon_happy_smile:before{content:'\E119'}
body /deep/ .ts_icon_back_to_menu:before{content:'\E120'}
body /deep/ .ts_icon_camera:before{content:'\E121'}
body /deep/ .ts_icon_phone_flat:before{content:'\E122'}
body /deep/ .ts_icon_phone_flat_slash:before{content:'\E123'}
body /deep/ .ts_icon_location_pin:before{content:'\E124'}
body /deep/ .ts_icon_channel_pane_hash:before{content:'\E125'}
body /deep/ .ts_icon_emoji_nature:before{content:'\E126'}
body /deep/ .ts_icon_emoji_food:before{content:'\E127'}
body /deep/ .ts_icon_emoji_celebration:before{content:'\E128'}
body /deep/ .ts_icon_emoji_activities:before{content:'\E129'}
body /deep/ .ts_icon_emoji_travel:before{content:'\E130'}
body /deep/ .ts_icon_emoji_objects:before{content:'\E131'}
body /deep/ .ts_icon_spaces_large:before{content:'\E132'}
body /deep/ .ts_icon_file_gdrive:before{content:'\E133'}
body /deep/ .ts_icon_expand:before{content:'\E200'}
body /deep/ .ts_icon_reduce:before{content:'\E201'}
body /deep/ .ts_icon_arrows_alt:before{content:'\E202'}
body /deep/ .ts_icon_reduce_alt:before{content:'\E203'}
body /deep/ .ts_icon_check_square_o:before{content:'\E204'}
body /deep/ .ts_icon_check_circle_o:before{content:'\E205'}
body /deep/ .ts_icon_check_circle_o_large:before{content:'\E206'}
body /deep/ .ts_icon_question:before{content:'\E207'}
body /deep/ .ts_icon_exclamation:before{content:'\E208'}
body /deep/ .ts_icon_warning:before{content:'\E209'}
body /deep/ .ts_icon_exclamation_circle:before{content:'\E210'}
body /deep/ .ts_icon_question_circle:before{content:'\E211'}
body /deep/ .ts_icon_plus_circle:before{content:'\E212'}
body /deep/ .ts_icon_minus_circle:before{content:'\E213'}
body /deep/ .ts_icon_times_circle:before{content:'\E214'}
body /deep/ .ts_icon_square_warning:before{content:'\E230'}
body /deep/ .ts_icon_square_question:before{content:'\E231'}
body /deep/ .ts_icon_plus_square_o:before{content:'\E232'}
body /deep/ .ts_icon_minus_square_o:before{content:'\E233'}
body /deep/ .ts_icon_square_times:before{content:'\E234'}
body /deep/ .ts_icon_times:before{content:'\E278'}
body /deep/ .ts_icon_plus:before{content:'\E279'}
body /deep/ .ts_icon_minus:before{content:'\E280'}
body /deep/ .ts_icon_plus_small:before{content:'\E281'}
body /deep/ .ts_icon_minus_small:before{content:'\E282'}
body /deep/ .ts_icon_exclamation_small:before{content:'\E283'}
body /deep/ .ts_icon_question_small:before{content:'\E284'}
body /deep/ .ts_icon_check_small:before{content:'\E285'}
body /deep/ .ts_icon_times_small:before{content:'\E294'}
body /deep/ .ts_icon_replies:before{content:'\E295'}
body /deep/ .ts_icon_replies_long:before{content:'\E296'}
body /deep/ .ts_icon_check_small_bold:before{content:'\E301'}
body /deep/ .ts_icon_enter:before{content:'\E302'}
body /deep/ .ts_icon_expand_vertical:before{content:'\E303'}
body /deep/ .ts_icon_collapse_vertical:before{content:'\E304'}
body /deep/ .ts_icon_star:before{content:'\E500'}
body /deep/ .ts_icon_unstar:before{content:'\E501'}
body /deep/ .ts_icon_bell:before{content:'\E502'}
body /deep/ .ts_icon_lock:before{content:'\E503'}
body /deep/ .ts_icon_external_link_small:before{content:'\E504'}
body /deep/ .ts_icon_external_link_large:before{content:'\E505'}
body /deep/ .ts_icon_presence_online:before{content:'\E506'}
body /deep/ .ts_icon_presence_offline:before{content:'\E507'}
body /deep/ .ts_icon_presence_dnd:before{content:'\E508'}
body /deep/ .ts_icon_presence_ra_online:before{content:'\E509'}
body /deep/ .ts_icon_presence_ra_offline:before{content:'\E510'}
body /deep/ .ts_icon_presence_ra_dnd:before{content:'\E511'}
body /deep/ .ts_icon_presence_ura_online:before{content:'\E512'}
body /deep/ .ts_icon_presence_ura_offline:before{content:'\E513'}
body /deep/ .ts_icon_presence_ura_dnd:before{content:'\E514'}
body /deep/ .ts_icon_heart:before{content:'\E515'}
body /deep/ .ts_icon_quote:before{content:'\E516'}
body /deep/ .ts_icon_cog:before{content:'\E517'}
body /deep/ .ts_icon_comment:before{content:'\E518'}
body /deep/ .ts_icon_arrow_right:before{content:'\E286'}
body /deep/ .ts_icon_arrow_left:before{content:'\E287'}
body /deep/ .ts_icon_arrow_up:before{content:'\E288'}
body /deep/ .ts_icon_arrow_down:before{content:'\E289'}
body /deep/ .ts_icon_arrow_right_medium:before{content:'\E290'}
body /deep/ .ts_icon_arrow_left_medium:before{content:'\E291'}
body /deep/ .ts_icon_arrow_up_medium:before{content:'\E292'}
body /deep/ .ts_icon_arrow_down_medium:before{content:'\E293'}
body /deep/ .ts_icon_angle_arrow_down_right_alt:before{content:'\E297'}
body /deep/ .ts_icon_angle_arrow_up_right_alt:before{content:'\E298'}
body /deep/ .ts_icon_angle_arrow_up_left_alt:before{content:'\E299'}
body /deep/ .ts_icon_angle_arrow_down_left_alt:before{content:'\E300'}
body /deep/ .ts_icon_arrow_circle_o_up:before{content:'\E215'}
body /deep/ .ts_icon_arrow_circle_o_down:before{content:'\E216'}
body /deep/ .ts_icon_arrow_circle_o_right:before{content:'\E217'}
body /deep/ .ts_icon_arrow_circle_o_left:before{content:'\E218'}
body /deep/ .ts_icon_chevron_circle_left:before{content:'\E219'}
body /deep/ .ts_icon_chevron_circle_right:before{content:'\E220'}
body /deep/ .ts_icon_chevron_circle_down:before{content:'\E221'}
body /deep/ .ts_icon_chevron_circle_up:before{content:'\E222'}
body /deep/ .ts_icon_plus_circle_small:before{content:'\E223'}
body /deep/ .ts_icon_circle_small:before{content:'\E224'}
body /deep/ .ts_icon_circle_large:before{content:'\E225'}
body /deep/ .ts_icon_square_arrow_up:before{content:'\E235'}
body /deep/ .ts_icon_square_arrow_down:before{content:'\E236'}
body /deep/ .ts_icon_square_arrow_right:before{content:'\E237'}
body /deep/ .ts_icon_square_arrow_left:before{content:'\E238'}
body /deep/ .ts_icon_square_chevron_left:before{content:'\E239'}
body /deep/ .ts_icon_square_chevron_right:before{content:'\E240'}
body /deep/ .ts_icon_square_chevron_down:before{content:'\E241'}
body /deep/ .ts_icon_square_chevron_up:before{content:'\E242'}
body /deep/ .ts_icon_chevron_right:before{content:'\E250'}
body /deep/ .ts_icon_chevron_left:before{content:'\E251'}
body /deep/ .ts_icon_chevron_down:before{content:'\E252'}
body /deep/ .ts_icon_chevron_up:before{content:'\E253'}
body /deep/ .ts_icon_chevron_medium_right:before{content:'\E254'}
body /deep/ .ts_icon_chevron_medium_left:before{content:'\E255'}
body /deep/ .ts_icon_chevron_medium_down:before{content:'\E256'}
body /deep/ .ts_icon_chevron_medium_up:before{content:'\E257'}
body /deep/ .ts_icon_chevron_large_right:before{content:'\E258'}
body /deep/ .ts_icon_chevron_large_left:before{content:'\E259'}
body /deep/ .ts_icon_chevron_large_up:before{content:'\E260'}
body /deep/ .ts_icon_chevron_large_down:before{content:'\E261'}
body /deep/ .ts_icon_arrow_large_right:before{content:'\E262'}
body /deep/ .ts_icon_arrow_large_left:before{content:'\E263'}
body /deep/ .ts_icon_arrow_large_up:before{content:'\E264'}
body /deep/ .ts_icon_arrow_large_down:before{content:'\E265'}
body /deep/ .ts_icon_caret_outline_left:before{content:'\E266'}
body /deep/ .ts_icon_caret_outline_right:before{content:'\E267'}
body /deep/ .ts_icon_caret_outline_up:before{content:'\E268'}
body /deep/ .ts_icon_caret_outline_down:before{content:'\E269'}
body /deep/ .ts_icon_caret_up:before{content:'\E270'}
body /deep/ .ts_icon_caret_down:before{content:'\E271'}
body /deep/ .ts_icon_caret_right:before{content:'\E272'}
body /deep/ .ts_icon_caret_left:before{content:'\E273'}
body /deep/ .ts_icon_angle_arrow_down_left:before{content:'\E274'}
body /deep/ .ts_icon_angle_arrow_down_right:before{content:'\E275'}
body /deep/ .ts_icon_angle_arrow_up_right:before{content:'\E276'}
body /deep/ .ts_icon_angle_arrow_up_left:before{content:'\E277'}
body /deep/ .ts_icon_outline:before{content:'\E800'}
body /deep/ .ts_icon_outline_pillow:before{content:'\E801'}
body /deep/ .ts_icon_apple:before{content:'\E802'}
body /deep/ .ts_icon_android:before{content:'\E803'}
body /deep/ .ts_icon_twitter:before{content:'\E804'}
body /deep/ .ts_icon_github:before{content:'\E805'}
body /deep/ .ts_icon_dropbox:before{content:'\E806'}
body /deep/ .ts_icon_google:before{content:'\E807'}
body /deep/ .ts_icon_windows:before{content:'\E808'}
body /deep/ .ts_icon_youtube:before{content:'\E809'}
body /deep/ .ts_icon_google_drive:before{content:'\E810'}
body /deep/ .ts_icon_skype:before{content:'\E811'}