html, body {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    height: 100%;
    color: #000000;
}


body /deep/ juicy-tile-table,  body /deep/ .juicy-tile-table
{
    min-width: 100px !important;
    max-width: 600px !important;
}

body /deep/ juicy-shadow-row,  body /deep/ .juicy-shadow-row
{
    height: 120px !important;
}



#launcher-menu {
    flex: 1 0 auto;
    color: #4c444b;
}

.launcher-layout {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.launcher-layout__top {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    z-index: 100;
}

.launcher-layout__main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#launcher-content {
    position: relative;
    left: 0px;
    height:100%;
    flex: 1;
}
.workspace-no
{
    background: red;
    display: flex;
    flex-direction:row;
}

.workspace > juicy-tile-table,
.workspace > juicy-composition {
   /*flex: 1 1 auto;*/
   /*padding: 10px;*/ /*this is the desired padding - labelled as WS on Jocke's screenshot. In future this margin will be created by the outermost gap*/
}

starcounter-include.workspace {
    display: none;
}

starcounter-include.workspace[visible] {
    display: block;
}

#homeIcon {
    width: 19px;
    height: 19px;
    color:white;
    display:inline-block;
    font-size:18px;
    margin-left: 4px;
}

#launcher-main {
    display: flex;
    display: -webkit-flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#launcher-menu {
    /*color: white;*/
    color: rgba(255, 255, 255, 0.9);
    padding-left: 14px;
}

#launcher-menu ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    height:100%;
    list-style-type: none; /* Remove bullets */
}

#launcher-menu ul li {
    /*padding-top: 2px;*/
    transition: all 0.2s ease;

}
#launcher-menu ul li a:hover {

    color: white;
    background-color: rgba(255,255,255,.2);

}
#launcher-menu ul li:active {

    background-color: rgba(0,0,0,.1);

}
#launcher-menu ul li.selected {

    color: white;
    background-color: rgba(0,0,0,.25);

}

#launcher-menu ul li a {
  border-radius: 4px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 16px;
}

#launcher-menu a {
    display: block;
    display: flex;
    height: 36px;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
}

#launcher-menu ul a:link,
#launcher-menu a:visited,
#launcher-menu a:hover,
#launcher-menu a:active {
    color: inherit;
    text-decoration: none;
}


#launcher-menu-old a span {
    display: none;
}
#launcher-menu a i.glyphicon {
    display: none;
}

#launcher-menu ul a span
{
    font-weight:normal;
    padding-left:4px;
}
.launcher-toolbar launcher-search-input input
    {
        max-width:100px;
        padding-left: 0px;
    }

@media only screen and (max-width: 960px) {
    #launcher-menu ul a span {
        display:none;
    }
    .launcher-toolbar #search-icon
    {
        display: none;
    }


}



.launcher-dashboard-icon {
    height: 1.15em;
    width: 1.15em;
    margin-right: calc( 0.2em - 0.07em );
    margin-top: -0.2em;
    margin-left: calc( 0.2em - 0.07em );
}

/* Toolbar custom theme */
.launcher-toolbar {
    z-index: 4;
    /*background-color: #43525d;*/
    /*background-image: linear-gradient(-195deg, rgba(35, 190, 182, 0.5) 25%, #045e9c 100%);*/
    background-image: linear-gradient(-195deg, #1eaef8 25%, #1782fa 65%);
    color: white;
    font-size: 18px;
    height: 47px;
    flex-basis: 47px;
    line-height: normal; /*reset bootstrap line-height*/
    padding: 0 10px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.launcher-toolbar .glyphicon {
    color:white;
    font-size:18px;
}





.launcher-toolbar starcounter-include.preview {
    width:360px;
}

.launcher-toolbar img {
    vertical-align: baseline; /*reset bootstrap*/
}

.launcher-toolbar #launcher-settings-icon {
    width: 22px;
    height: 22px;
}

.launcher-toolbar paper-icon-button.modified,
.launcher-toolbar paper-icon-button.modified:hover,
.launcher-toolbar paper-icon-button.modified:hover path {
    color: red;
    fill: red;
}

.launcher-toolbar div.launcher-theme {
    width: 100%;
}

.launcher-toolbar div.launcher-theme:active {
    border-color: rgb(0, 136, 204);
}

.launcher-toolbar div.launcher-theme:focus,
.launcher-toolbar div.launcher-theme:hover,
.launcher-toolbar div.launcher-theme:has(:focus) {
    background-color: #fff;
}

#launcher-layout-editor{
    box-shadow: 0px 0px 3px black;
    padding: 0 1em;
}

div.launcher-theme input,
div.launcher-theme input {
    color: white;
    background: #7B8AA6;
    padding: 4px;
    border: 1px solid #3d4860;
    border-radius: 4px;
    font-size: 14px;
}

/* Change plaveholder text color */
div.launcher-theme input::-webkit-input-placeholder,
div.launcher-theme input::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}

div.launcher-theme input:-moz-placeholder,
div.launcher-theme input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}

div.launcher-theme input::-moz-placeholder,
div.launcher-theme input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}

div.launcher-theme input:-ms-input-placeholder,
div.launcher-theme input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

.launchpad {
    padding: 32px;
}

.launchpad > h1 {
    margin: 0 0 0.6em 0;
    font-size:30px;
}

.css-grid-error {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 750px;
    background-color: #ffffff;
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 0 0 15px #fb1f68;
    font-size: 18px;
    margin-top: -200px;
    margin-left: -375px;
    transition: opacity 0.5s;
}

.css-grid-error p {
    margin-bottom: 10px;
}

.css-grid-error a.dismiss {
    float: right;
    font-size: 95%;
}

.css-grid-error-back {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

/*@supports ((display: grid)) {
    .css-grid-error,
    .css-grid-error-back {
        display: none;
        display: -moz-grid;
    }
}*/

launcher-search-input {
    font-size: 12px;
    vertical-align: middle;
}


/* LOADING SPLASH PAGE */

body #co-splash
{
    opacity:0;
    transition: opacity 0.2s ease;
    color: transparent;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: #FFF;
    z-index: 10000;
}

body.loading #co-splash
{
    opacity:1;
    color: #444;
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotateZ(0deg);}
    to {-webkit-transform: rotateZ(360deg);}
}

@keyframes spin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

body.loading #co-splash #co-splash-spinner {
    display: inline-block;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

body.loading #co-splash #co-splash-text {
    font-size: 18px;
    display: inline-block;
    padding: 10px;
}

.launcher-accept-cookie-button {
    min-width: 55px;
    margin-left: 10px;
}
