

.launcher-select {
	border: 1px solid #ddd;

	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;

	margin:0px;
	width: 100%;
    /*height: 100%;*/

/*	background-color: #00A6FF;*/
/*	color: #fff; */
		
/* vertical-align: middle; */

 box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;


	font-family : inherit; 		
	font-size   : 100%;
	font-weight:bold;

    /* Removes default arrow from firefox */
/*    
  	text-indent: 0.01px; 
    text-overflow: "";
*/
/*justify-content:flex-end;*/
}

.launcher-select:focus {
/*	background-color: #eee;*/
	
}
.launcher-select option {
	background-color: white;
}


.launcher-select:hover {

}

.launcher-select:active {
	

}



.launcher-select input {
	background-color: red;
}

