.launchpad{
  padding: 32px;
}
.launchpad > h1{
  margin: 0 0 0.8em 0;
}
launchpad-tile launchpad-icon{
  padding: 2px;
  border-radius: 13px;
  display: block;
  min-height: 64px;
}
launchpad-tile:hover launchpad-icon {
  box-shadow: inset 0px 0px 10px rgba(138, 152, 176,0.8);
}
launchpad-tile>a{
  display: block;
  color: black;
  text-decoration: none;
}
launchpad-tile h5{
  text-align: center;
  margin: 2px;
  height: 14px;
}