juicy-tile-tree {
    overflow: auto;
    height: calc(100% - 35px);
    position: relative;
    display: block;
    width: 100%;
}

juicy-tile-tree ul,
juicy-tile-tree ul.juicy-tile-tree,
juicy-tile-tree ul.juicy-tile-tree-branch,
juicy-tile-tree ul.juicy-tile-tree-item {
    margin: 0px;
    list-style: none;
    padding: 0;
}

juicy-tile-tree li {
    white-space: nowrap;
    position: relative;
}

juicy-tile-tree .element-label {
    cursor: default;
    padding: 1px 4px 2px 4px;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    height: 26px;
}

juicy-tile-tree .element-label.highlight {
    background-color: #01629E;
    color: white;
}

juicy-tile-tree .element-label:hover .visibility {
    display: block;
}

juicy-tile-tree .element-label.active:hover .visibility {
    display: none;
}

juicy-tile-tree .element-label.highlight .visibility {
    background-color: #01629e;
}

juicy-tile-tree .element-label div.txt {
    white-space: nowrap;
}

juicy-tile-tree i.jte-icon, 
juicy-tile-tree juicy-toggle-icon-button {
    line-height: 1em;
}

juicy-tile-tree juicy-toggle-icon-button.expand {
    position: absolute;
    top: 6px;
    left: -17px;
}

juicy-tile-tree .blurred {
    opacity: 0.5;
}

juicy-tile-tree .drag-helper {
    display: none;
    background-color: #fff5bc;
    border: #ffd800;
    color: black;
    padding: 1px 4px;
    line-height: normal;
    opacity: 0.8;
}

juicy-tile-tree .drag-helper.dragging {
    display: block;
}

juicy-tile-tree juicy-draggable {
    /*cursor: move;*/
}

juicy-tile-tree .drop-item.drag-hover {
    background-color: #bdf337;
    color: #404040;
}

juicy-tile-tree .visibility {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
    padding: 7px 6px 7px 6px;
    border-radius: 2px;
    box-sizing: border-box;
    height: 26px;
}

juicy-tile-tree .visibility[checked] {
    display: block;
}

juicy-tile-tree li.collapsed > ul {
    display: none;
}

juicy-tile-tree .item-name {
    width: 100%;
    border: 1px solid transparent;
    color: white;
    background-color: transparent;
    vertical-align: middle;
    padding: 2px 4px;
    box-sizing: border-box;
    font-size: 11px;
}

juicy-tile-tree .item-name:focus {
    outline: none;
}

juicy-tile-tree .item-name.active {
    border-color: white;
}

juicy-tile-tree i.jte-icon ~ .item-name {
    width: calc(100% - 16px);
}

juicy-tile-tree .item-name::selection {
    background-color: #ffd800;
    color: black;
}

/* indentation of tree levels */

juicy-tile-tree ul .element-label,
juicy-tile-tree ul .expand {
    padding-left: calc(1 * 14px + 6px);
}

juicy-tile-tree ul ul .element-label,
juicy-tile-tree ul ul .expand {
    padding-left: calc(2 * 14px + 6px);
}

juicy-tile-tree ul ul ul .element-label,
juicy-tile-tree ul ul ul .expand {
    padding-left: calc(3 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul .expand {
    padding-left: calc(4 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul .expand {
    padding-left: calc(5 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul .expand {
    padding-left: calc(6 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul ul .expand {
    padding-left: calc(7 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul ul ul .expand {
    padding-left: calc(8 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul ul ul ul .expand {
    padding-left: calc(9 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul ul ul ul ul .expand {
    padding-left: calc(10 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul .expand {
    padding-left: calc(11 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul ul .expand {
    padding-left: calc(12 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul ul ul .expand {
    padding-left: calc(13 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul ul ul ul .expand {
    padding-left: calc(14 * 14px + 6px);
}

juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul ul ul ul .element-label,
juicy-tile-tree ul ul ul ul ul ul ul ul ul ul ul ul ul ul .expand {
    padding-left: calc(15 * 14px + 6px);
}
