<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.Launcher</Namespace>
  <Channel>Stable</Channel>
  <Version>2.0.0-pre.19</Version>
  <AppName>Launcher</AppName>
  <Executable>app/Launcher.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>Launcher.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>Launcher</DisplayName>
  <Heading>Launcher</Heading>
  <Description>Launcher Application (tested with Starcounter 2.0.3286.3)</Description>
  <VersionDate>2015-08-04T09:14:48Z</VersionDate>
</PackageConfig>
