<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>StarcounterSamples.Launcher</Namespace>
  <Channel>Stable</Channel>
  <Version>5.0.0-develop.0</Version>
  <AppName>Launcher</AppName>
  <Executable>app/Launcher.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>Launcher.png</ImageUri>
  <Company>StarcounterSamples</Company>
  <DisplayName>Launcher</DisplayName>
  <Description>Wrap all apps in a UI frame with a common launchpad, menu and a search bar.</Description>
  <VersionDate>2016-08-12T16:08:29Z</VersionDate>
  <Dependency name="Starcounter">~2.2.1.2877</Dependency>
</PackageConfig>
