
.SuperCRM {
  box-sizing: border-box;
}

.SuperCRM h1 {
  font-size: 150%;
  margin:0px;
  color: #333C4E;
  border-bottom: 1px solid #ddd;
}

.SuperCRM ul {
  display: table;
  list-style: none;
  padding: 0px;
  margin: 8px 0px 0px 0px;
  width: 100%;
}

.SuperCRM li {
  display: table-row;
}

.SuperCRM li a {
  display: block;
  color: black;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.SuperCRM li:hover a {
  background-color:#333C4E;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color:white;
}

.SuperCRM li span {
  display: table-cell;
  padding-right: 20px;

}

.SuperCRM li span:last-child {
  padding-right: 0;
}

/* SuperCRM Company */
.SuperCRM-Contacts h1 {
  font-size: 150%;
  margin:0px;
  color: #333C4E;
  border-bottom: 1px solid #ddd;
}
