<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.SuperCRM</Namespace>
  <Channel>Stable</Channel>  
  <Version>1.0</Version>
  <AppName>SuperCRM</AppName>
  <Executable>app/supercrm.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>supercrm.png</ImageUri>
  <DisplayName>Super CRM</DisplayName>
  <Company>Polyjuice</Company>
  <Description>Super CRM System</Description>
  <VersionDate>2014-10-23T14:50:00Z</VersionDate>
</PackageConfig>